<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gz.tvshow.dao.ChannelMapper">
    <resultMap id="ChannelModel" type="cn.gz.tvshow.pojo.ChannelModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="alias" property="alias" jdbcType="VARCHAR"/>
        <result column="region_id" property="regionId" jdbcType="INTEGER"/>
        <result column="show_id" property="showId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="CHAR"/>
        <result column="up_date" property="upDate" jdbcType="TIMESTAMP"/>
        <result column="up_user_id" property="upUserId" jdbcType="INTEGER"/>
    </resultMap>
    <select id="selectByPrimaryKey" resultMap="ChannelModel" parameterType="java.lang.Integer">
    select * from channel where id=#{id}
  </select>
    <insert id="insert" parameterType="cn.gz.tvshow.pojo.ChannelModel">
        insert into channel
        values
        (#{id},#{name},#{alias},#{regionId},#{showId},#{type},#{upDate},#{upUserId})
    </insert>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from channel where id=#{id}
    </delete>
    <select id="select" parameterType="cn.gz.tvshow.pojo.ChannelModel" resultMap="ChannelModel">
        select * from channel
        <trim prefix="WHERE" prefixOverrides="and|or">
            <if test="id!=null and id!=''">
                id=#{id}
            </if>
            <if test="name!=null and name!=''">
                and name=#{name}
            </if>
            <if test="alias!=null and alias!=''">
                and alias=#{alias}
            </if>
            <if test="regionId!=null and regionId!=''">
                and regionId=#{regionId}
            </if>
            <if test="showId!=null and showId!=''">
                and showId=#{showId}
            </if>
            <if test="type!=null and type!=''">
                and type=#{type}
            </if>
            <if test="upDate!=null">
                and upDate=#{up_date}
            </if>
            <if test="upUserId!=null and upUserId!=''">
                and upUserId=#{up_user_id}
            </if>
        </trim>
    </select>
    <update id="updateById" parameterType="cn.gz.tvshow.pojo.ChannelModel">
        update channel
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="alias!=null">alias=#{alias},</if>
            <if test="regionId!=null">regionId=#{regionId},</if>
            <if test="showId!=null">show_id=#{showId},</if>
            <if test="type!=null">type=#{type},</if>
            <if test="upDate!=null">up_date=#{upDate},</if>
            <if test="upUserId!=null">up_user_id=#{upUserId},</if>
        </trim>
        WHERE id=#{id}
    </update>
</mapper>